@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";

@import "@fontsource-variable/noto-sans";
@import "@fontsource-variable/oxanium";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans Variable", sans-serif;
  background: #15100e;
  color: #f4ebe3;
}

* {
  box-sizing: border-box;
}
